<!DOCTYPE html>
<html>
<head>
  <title>About</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <link rel="stylesheet" href="http://cdn2.editmysite.com/css/sites.css?buildTime=1395428873" type="text/css"/>
  <link rel='stylesheet' type='text/css'
        href='http://cdn1.editmysite.com/editor/libraries/fancybox/fancybox.css?1395428873'/>
  <link rel='stylesheet' type='text/css' href='/assets/main_style.css?1395436334' title='wsite-theme-css'/>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'/>
  <link href='http://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'/>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'/>
  <style type='text/css'>
      .wsite-elements.wsite-not-footer div.paragraph, .wsite-elements.wsite-not-footer p, .wsite-elements.wsite-not-footer .product-block .product-title, .wsite-elements.wsite-not-footer .product-description, .wsite-elements.wsite-not-footer .wsite-form-field label, .wsite-elements.wsite-not-footer .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {
      }

      #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {
      }

      .wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label {
      }

      .wsite-elements.wsite-not-footer h2, .wsite-elements.wsite-not-footer .product-long .product-title, .wsite-elements.wsite-not-footer .product-large .product-title, .wsite-elements.wsite-not-footer .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {
      }

      #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {
      }

      .wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title {
      }

      #wsite-title {
      }

      .wsite-menu-default a {
      }

      .wsite-menu a {
      }

      .wsite-image div, .wsite-caption {
      }

      .galleryCaptionInnerText {
      }

      .fancybox-title {
      }

      .wslide-caption {
      }

      .wsite-phone {
      }

      .wsite-headline {
      }

      .wsite-headline-paragraph {
      }

      .wsite-button-inner {
      }

      .wsite-not-footer blockquote, #wsite-com-product-tab blockquote {
      }

      .wsite-footer blockquote {
      }

      .blog-header h2 a {
      }

      h2.wsite-product-title {
      }

      .wsite-product .wsite-product-price a {
      }
  </style>

  <script><!--
  var STATIC_BASE = '//cdn1.editmysite.com/';
  var STYLE_PREFIX = 'wsite';
  //-->
  </script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
  <script src='http://cdn2.editmysite.com/js/site/main.js?buildTime=1395428873'></script>
  <script>_W.relinquish && _W.relinquish()</script>
  <script type='text/javascript'><!--
  var IS_ARCHIVE = 1;
  (function (jQuery) {
      function initFlyouts() {
          initPublishedFlyoutMenus([
              {"id": "102028352772474583", "title": "Home", "url": "index.html", "target": ""},
              {"id": "398311782882552897", "title": "About", "url": "about.html", "target": ""},
              {"id": "781891109137199263", "title": "Awards", "url": "awards.html", "target": ""},
              {"id": "744403079724393911", "title": "Nomination Procedure", "url": "nomination-procedure.html", "target": ""},
              {"id": "783104721222161831", "title": "Contact", "url": "contact.html", "target": ""}
          ], "398311782882552897", "<li><a href='#'>{{title}}<\/a><\/li>", 'active', false)
      }

      if (jQuery) {
          if (jQuery.browser.msie && !window.flyoutMenusRefreshable) window.onload = initFlyouts;
          else jQuery(initFlyouts);
      } else {
          if (Prototype.Browser.IE) window.onload = initFlyouts;
          else document.observe('dom:loaded', initFlyouts);
      }
  })(window._W && _W.jQuery)
  //-->
  </script>
</head>
<body class='wsite-theme-light no-header-page wsite-page-about'>
<div id="wrapper">
<div class="header-wrapper">
  <div class="header-outer-wrapper">
    <div class="container">
      <div id="header-in">
        <table id="header">
          <tr>
            <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, class: name, style: "background-color:white;color:green;padding:2%;width:150px;text-align:center;margin-left:350px;border-radius:10px;" %>
            <% end %>
            <td id="logo"><span class='wsite-logo'><a href=''><img src='/assets/logo.png'
                                                                   style='margin-top:27px;margin-left:560px;'/></a></span>
            </td>
            <td id="header-right">
              <table>
                <tr>
                  <td class="phone-number"></td>
                  <td class="social"></td>
                </tr>
              </table>
              <div class="search"></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="wrap-in">
  <div id="wrap-inner">
    <div class="container">
      <div id="topnav">
        <%= yield :navbar %>
        <div style="clear:both"></div>
      </div>

      <%= yield %>
    </div>
  </div>
</div>
</div>
<div id="footer-wrap">
  <div class="container">
    <div id="footer">
      Prabhakar Barua Rhino Conservation Trust &copy; 2014
    </div>
  </div>
</div>

</body>
</html>